/* src/components/Hero.css */

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }
  
  .animated-text {
    display: inline-block;
    overflow: hidden;
    animation: change-colors 10s infinite, move-text 10s infinite;
  }
  
  @keyframes change-colors {
    0% {
      color: red;
    }
    25% {
      color: blue;
    }
    50% {
      color: green;
    }
    75% {
      color: yellow;
    }
    100% {
      color: red;
    }
  }
  
  @keyframes move-text {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  