/* src/components/Hero.css */

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }
  
  .animated-text {
    display: inline-block;
    overflow: hidden;
    animation: change-colors 10s infinite, move-text 20s infinite;
  }
  
  @keyframes change-colors {
    0% {
      color: rgb(117, 31, 31);
    }
    25% {
      color: rgb(55, 55, 132);
    }
    50% {
      color: rgb(74, 137, 74);
    }
    75% {
      color: rgb(129, 129, 52);
    }
    100% {
      color: rgb(151, 2, 2);
    }
  }
  
  @keyframes move-text {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  